# Dependencies
node_modules/

# Mobile Pre-builds
android/
ios/

# Expo
.expo/
dist/
web-build/

# Credentials
credentials.json
credentials/
google-services.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store
*.pem

# Env files
.env*.local

# Typescript
*.tsbuildinfo
